apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: energy-footprint-notification
  namespace: {{ .Values.knative.namespace }}
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: {{ .Values.knative.services.api.minScale | quote }}
        autoscaling.knative.dev/maxScale: {{ .Values.knative.services.api.maxScale | quote }}
        autoscaling.knative.dev/target: {{ .Values.knative.services.api.target | quote }}
        autoscaling.knative.dev/metric: {{ .Values.knative.services.api.metric | quote }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      containers:
      - image: {{ .Values.image.repository }}/api:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: http1
          containerPort: 8080
          protocol: TCP
        envFrom:
          - configMapRef:
              name: efn-db-config
          - secretRef:
              name: efn-db
        env:
          - name: API_ADDRESS
            value: "0.0.0.0:8080"
          - name: API_MAX_TIME_PERIOD_DAYS
            value: {{ .Values.api.maxTimePeriodDays | quote }}
          - name: LOG_LEVEL
            value: {{ .Values.logger.level }}
          - name: LOG_FORMAT
            value: {{ .Values.logger.format }}
          - name: PDP_ADDRESS
            value: {{ .Values.pdp.address }}
          - name: K_SINK
            # URL for sending CloudEvents to the RabbitMQ Broker ingress
            # RabbitMQ Broker creates its own ingress service <broker-name>-ingress in the same namespace.
            # Path segment /namespace/brokerName used by MTChannelBasedBroker is NOT required here.
            value: http://{{ .Values.knative.broker.name }}-broker-ingress.{{ .Values.knative.namespace }}.svc.cluster.local
          - name: PDP_SKIP_POLICY_CHECK
            value: {{ .Values.pdp.skip | quote }}
        readinessProbe:
          httpGet:
            path: /healthz
            port: http1
          initialDelaySeconds: 2
          periodSeconds: 10
---
apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: worker
  namespace: {{ .Values.knative.namespace }}
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: {{ .Values.knative.services.worker.minScale | quote }}
        autoscaling.knative.dev/maxScale: {{ .Values.knative.services.worker.maxScale | quote }}
        autoscaling.knative.dev/target: {{ .Values.knative.services.worker.target | quote }}
        autoscaling.knative.dev/metric: {{ .Values.knative.services.worker.metric | quote }}
        {{- if .Values.knative.services.worker.scaleDownDelay }}
        autoscaling.knative.dev/scale-down-delay: {{ .Values.knative.services.worker.scaleDownDelay | quote }}
        {{- end }}
        {{- if .Values.mock.enabled }}
        checksum/mock-config: {{ include (print $.Template.BasePath "/mock-config.yaml") . | sha256sum }}
        {{- end }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      containers:
      - image: {{ .Values.image.repository }}/worker:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: 8080
        envFrom:
          - configMapRef:
              name: efn-db-config
          - secretRef:
              name: efn-db
          {{- if .Values.mock.enabled }}
          - configMapRef:
              name: efn-mock-config
          {{- end }}
        env:
          - name: API_ADDRESS
            value: "0.0.0.0:8080"
          - name: CARBON_FACTOR_TCO2E_PER_KWH
            value: {{ .Values.calculator.carbonFactorTCO2ePerKWh | quote }}
          - name: LOG_LEVEL
            value: {{ .Values.logger.level }}
          - name: LOG_FORMAT
            value: {{ .Values.logger.format }}
          - name: K_SINK
            value: http://{{ .Values.knative.broker.name }}-broker-ingress.{{ .Values.knative.namespace }}.svc.cluster.local
          - name: CLOUDOBS_FAIL_THROTTLE
            value: {{ .Values.cloudObservability.failThrottle | quote }}
          - name: CLOUDOBS_FAIL_NE
            value: {{ .Values.cloudObservability.failNE | quote }}
---
apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: notification
  namespace: {{ .Values.knative.namespace }}
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: {{ .Values.knative.services.notification.minScale | quote }}
        autoscaling.knative.dev/maxScale: {{ .Values.knative.services.notification.maxScale | quote }}
        autoscaling.knative.dev/target: {{ .Values.knative.services.notification.target | quote }}
        autoscaling.knative.dev/metric: {{ .Values.knative.services.notification.metric | quote }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      containers:
      - image: {{ .Values.image.repository }}/notification:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: 8080
        envFrom:
          - configMapRef:
              name: efn-db-config
          - secretRef:
              name: efn-db
        env:
          - name: API_ADDRESS
            value: "0.0.0.0:8080"
          - name: LOG_LEVEL
            value: {{ .Values.logger.level }}
          - name: LOG_FORMAT
            value: {{ .Values.logger.format }}
          - name: HTTP_INSECURE_SKIP_VERIFY
            value: {{ .Values.http.insecureSkipVerify | quote }}
          - name: K_SINK
            value: http://{{ .Values.knative.broker.name }}-broker-ingress.{{ .Values.knative.namespace }}.svc.cluster.local

---
