apiVersion: v1
kind: Service
metadata:
  name: sinkreceiver
  labels:
    app: sinkreceiver
spec:
  type: ClusterIP
  ports:
    - port: 8090
      targetPort: http
      protocol: TCP
      name: http
    - port: 8443
      targetPort: https
      protocol: TCP
      name: https
  selector:
    app: sinkreceiver
